/* === === === === === === === === === === FONTS === === === === === === === === === === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

/* === === === === === === === === === === GENERAL === === === === === === === === === === */

html {
    scroll-behavior: smooth;

}

body {
    // display: grid;
    // grid-template-columns: 10% auto 10%;
    // grid-template-rows: min-content min-content min-content;
    background-color: rgb(8, 8, 8);
    background-size: cover;
    scroll-behavior: smooth;
    font-family: poppins;
}

h3 {
    color: #F4D44B;
    font-family: 'poppins';
    text-align: center;
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 30px;

}



/* === === === === === === === === === === HEADER === === === === === === === === === === */

header {
    // display: grid;
    // grid-column: 1/4;
    // grid-row: 1/2;
    z-index: 100;
    position: sticky;
    top: 0px;
    width: 100%;


}

.containerHeader {
    background-color: rgb(8, 8, 8);


}

.header {

    height: min-content;
    display: flex;
    justify-content: space-around;
    align-items: center;



    .logo img {
        height: 160px;
        margin-left: 2rem;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 45px;
        margin: 0;

        a {
            text-decoration: none;
            color: rgb(244, 212, 75);
            font-weight: 600;
            transition: all ease 0.3s;

        }
    }
}


.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1);
    border: none;
}

.navbar {
    background-color: transparent;


}

.navbar-light .navbar-nav .nav-link {
    color: #F4D44B;
    font-size: 20px;
    padding: 0 1.5rem;

    &:hover {
        color: #f4d54bb4;
        text-decoration: overline;
    }

    &:focus {
        color: #F4D44B;
        //font-weight: bold;
        //text-decoration: overline;
    }
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #F4D44B;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../imagenes/bars-solid.svg");

}

.navbar-collapse {
    flex-direction: row-reverse;
    margin-right: 5rem;
}

.navbar-nav {
    display: flex;
    align-items: flex-end;

}

@media only screen and (max-width: 1024px) {


    .logo img {

        height: 140px;

    }
}

@media only screen and (max-width: 992px) {

    .navbar-nav {
        align-items: center;
    }

    .navbar-collapse {
        margin: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 0.3rem 0
    }
}

@media only screen and (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
    }

    .header {
        width: 100%;

        .logo img {
            margin-left: 0;
        }
    }

}

@media only screen and (max-width: 425px) {
    .navbar-light .navbar-nav .nav-link {

        justify-content: space-evenly;
    }
}


/* === === === === === === === === === === INICIO === === === === === === === === === === */


.botonWhapp {

    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 200;
    background-color: rgb(8, 8, 8);
    border-radius: 50%;
    color: #F4D44B;
    padding: 10px;

}


.contenedorMain {
    display: flex;
    flex-direction: row;
}

.imagenInicio {
    background-image: url(../imagenes/farm-2852024_960_720.webp);
    background-size: cover;
    background-position: center;
    height: 520px;
    width: 100%;
    background-color: crimson;
}

@media only screen and (max-width: 425px) {

    .imagenInicio {
        width: 400px;
    }
}


/* === === === === === === === === === === PRODUCTOS === === === === === === === === === === */


.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: poppins;
    // grid-column: 1/4;
    padding: 30px 15px;
    row-gap: 30px;
}

.cardProducto {
    width: 25rem;
    //object-fit: contain;
    transition: 400ms;

    &:hover {
        transform: scale(1.15);
        border: 2px solid #F4D44B;
    }
}

.cardImagen {
    background-image: url("../imagenes/flyerProductos.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
}

.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #F4D44B;
    align-items: center;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 10px;
}

.cardFooter button {
    font-family: poppins;
    padding: 10px 20px;
    background-color: #F4D44B;
    color: #000;
    border: none;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: ease 350ms;

    &:hover {
        background-color: rgb(12, 12, 12);
        color: #F4D44B;
    }
}

.modal-header {
    background-color: #F4D44B;

    h5 {
        font-weight: bold;
    }
}

.modal-body {
    background-color: rgb(8, 8, 8);

}

th {
    color: #F4D44B;
    font-weight: bold;
}



td {
    color: #fff;
}

.modal-footer {
    background-color: rgb(8, 8, 8);

    p {
        color: #F4D44B;
        font-weight: 500;

        a {
            font-weight: 900;
            color: #F4D44B;

            &:hover {
                color: #fff;
                transition: 300ms;
            }
        }
    }
}

.masProductos {
    display: none;
}



.mostrar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: poppins;
    // grid-column: 1/4;
    padding: 30px 15px;
    row-gap: 30px;
}

.verMas {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#VerMas {
    font-family: poppins;
    padding: 10px 20px;
    background-color: #F4D44B;
    color: #000;
    border: none;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: ease 350ms;

    &:hover {
        background-color: rgb(12, 12, 12);
        color: #F4D44B;
    }
}


@media only screen and (max-width: 1366px) {

    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-family: poppins;
        padding: 30px 15px;
        row-gap: 30px;

        .cardProducto {
            width: 18rem;
            padding: 0px 20px;

            &:hover {
                transform: scale(1.1);
            }
        }


        .cardFooter {
            font-size: 12px;
        }

        h4 {
            font-size: 17px;
        }

    }

    .mostrar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-family: poppins;
        // grid-column: 1/4;
        padding: 30px 15px;
        row-gap: 30px;

        .cardProducto {
            width: 18rem;
            padding: 0px 20px;

            &:hover {
                transform: scale(1.1);
            }
        }


        .cardFooter {
            font-size: 12px;
        }

        h4 {
            font-size: 17px;
        }
    }
}


// <!-- === === === === === NOSOTROS === === === === === --> //

.nosotros {
    display: flex;
    justify-content: center;
}

.containerNosotros {
    width: 90%;
    // background-color: #f44b9a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //padding: 100px 50px;
    margin-bottom: 100px;

}

.imagenNosotros {
    background-image: url(../imagenes/entermining.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 45%;
    border: solid 2px #F4D44B;
    box-shadow: 2px 2px 10px 2px #F4D44B;
}

.textoNosotros {
    width: 50%;
    color: white;
    padding: 0 20px;
    text-align: justify;
    font-family: poppins;
    font-size: 25px;
    line-height: 40px;

    &::selection {
        background-color: #F4D44B;
    }

}

h4 {
    font-size: 35px;
    text-align: center;
    color: #F4D44B;
    letter-spacing: 3px;

    &::selection {
        background-color: #F4D44B;
    }
}

@media only screen and (max-width: 1440px) {

    .imagenNosotros {
        background-image: url(../imagenes/entermining.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        width: 40%;
        border: solid 2px #F4D44B;
        box-shadow: 2px 2px 10px 2px #F4D44B;
    }

    h4 {
        font-size: 30px;
        text-align: center;
        color: #F4D44B;
        letter-spacing: 3px;
    }


    .textoNosotros {
        width: 50%;
        color: white;
        padding: 0 20px;
        text-align: justify;
        font-family: poppins;
        font-size: 20px;
        line-height: 30px;

    }
}

@media only screen and (max-width: 768px) {

    .containerNosotros {
        display: flex;
        flex-direction: column;
    }

    .imagenNosotros {
        width: 100%;
    }

    .textoNosotros {
        width: 100%;
        font-size: 20px;
    }
}


// <!-- === === === === === CONTACTO === === === === === --> //

.contacto {
    display: flex;
    justify-content: center;
}

.contenedorForm {
    width: 90%;
    display: flex;
    align-items: center;


    form {
        width: 50%;
        // display: grid;
        justify-items: center;


        h2 {
            font-family: poppins;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 3px;
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .formInput {
            font-family: poppins;
            font-size: 20px;
            font-weight: bold;
            background-color: transparent;
            border: none;
            border-bottom: 2.5px solid #F4D44B;
            outline: none;
            width: 90%;
            padding: 40px 25px;
            color: #F4D44B;
        }

        .formInput::placeholder {
            color: #F4D44B;
            font-weight: bold;
        }

        .boton {
            display: flex;
            justify-content: center;
            padding: 20px;


            .inputBoton {
                padding: 10px 50px;
                border: 2px solid #F4D44B;
                border-radius: 5px;
                font-size: 18px;
                font-family: poppins;
                font-weight: bold;
                background-color: transparent;
                letter-spacing: 1px;
                color: #F4D44B;
                cursor: pointer;
                transition: all ease 0.8s;

                &:hover {
                    background-color: #F4D44B;
                    color: #fff;
                }
            }
        }
    }
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    // padding-top: 65px;


    p {
        font-size: 50px;
        font-weight: bold;
        color: #F4D44B;
        letter-spacing: 4px;
        padding: 10px;
    }
}

.icon {
    color: #F4D44B;
    padding: 10px;
}

.animacionRedes {
    padding: 50px 0 0 0;
    height: 300px;
    width: auto;
}


@media only screen and (max-width: 1366px) {

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
    }


    .redes p {
        font-size: 30px;
        font-weight: bold;
        color: #F4D44B;
        letter-spacing: 4px;
        padding: 10px;
    }

    .fa-5x {
        font-size: 4em !important;
    }

}

@media only screen and (max-width: 768px) {
    .contenedorForm {
        display: flex;
        flex-direction: column;


    }

    .contenedorForm form {
        width: 100%;

    }

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

    }


    .animacionRedes {
        padding: 50px 0 0 0;
        height: 400px;
        width: auto;
    }
}


// <!-- === === === === === FAQ === === === === === --> //

.faq {
    display: flex;
    justify-content: center;
}

.accordion {
    border: 1px solid #F4D44B;
    width: 90%;
}

.accordion-button {
    color: #F4D44B;
    border: 1px solid #F4D44B;
    padding: 30px 10px;
}

.accordion-body {
    padding: 30px 10px;
}

.accordion-button:not(.collapsed) {
    color: #F4D44B;
    background-color: transparent;

}

.accordion-button:focus {
    border: 1px solid rgb(244, 212, 75);
    box-shadow: none;
}

.accordion-button {
    &:not(.collapsed) {
        &::after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F4D44B'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
        }
    }
}


.accordion-collapse {
    color: #F4D44B;
}

.accordion-body {
    color: #F4D44B;

}

.accordion-button {
    &::after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F4D44B'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    }
}

// <!-- === === === === === FOOTER === === === === === --> //

footer {
    border-top: 2px solid #F4D44B;
    margin-top: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .footer {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .footerIzquierda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;

        .mediosdePago {
            font-size: 24px;
            color: #fff;
        }
    }

    .iconosPagos {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        width: 100%;
        justify-content: space-between;
        
    }

    p {
        color: white;
        text-align: center;


    }

    .footerMedio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;

    }

    .footerDerecha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;


        .encontranos {
            color: #F4D44B;
            font-size: 24px;
        }

        .direccion {
            text-decoration: none;
            color: #ffffff;

            &:hover {
                color: #F4D44B;
                transition: 400ms;
            }
        }


        .iconosRedes {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
    }



    .iconosFooter {
        width: 60px;
        height: 40px;
        background-color: #f4d44b;
        border-radius: 5px;
        padding: 2px;

    }
}

.logoFooter {

    height: 200px;
    width: auto;

}

canvas {
    position: absolute;
    background-size: contain;
    z-index: -1;
    height: 300px !important;
    object-fit: none;
}

// @media only screen and (max-width: 825px){

//     .iconosPagos {
//         background-color: aqua;
//     }



// }


@media only screen and (max-width: 768px) {
    footer .footerDerecha .encontranos {
        color: #F4D44B;
        font-size: 20px;
    }

}

@media only screen and (max-width: 425px) {

    footer .iconosFooter {
        width: 40px;
        height: 25px;
        background-color: #F4D44B;
        border-radius: 5px;
        padding: 2px;
        

    }

    .logoFooter {

        height: 100px;
        width: auto;
    
    }
   

}