/* === === === === === === === === === === FONTS === === === === === === === === === === */
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

/* === === === === === === === === === === GENERAL === === === === === === === === === === */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
  border: 1px solid black;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
  border-radius: 4px;
}

::-moz-selection {
  background-color: #a5a5a5;
  color: #ffffff;
}

::selection {
  background-color: #a5a5a5;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  scroll-behavior: smooth;
  font-family: poppins;
  background-color: black;
}

h3 {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  font-family: 'poppins';
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  -webkit-text-stroke: 2px;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
}

@media only screen and (max-width: 500px) {
  h3 {
    font-size: 20px;
    -webkit-text-stroke: 0.2px;
  }
}

/* === === === === === === === === === === HEADER === === === === === === === === === === */
header {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}

header .header {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

header .header .logo img {
  height: 140px;
  margin-left: 2rem;
}

header .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  margin: 0;
  height: 100px;
  padding: 0;
}

header .header .menu a {
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: white;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 16px;
  padding: 0 1.5rem;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: -webkit-box-shadow .15s ease-in-out;
  transition: -webkit-box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("");
  color: white;
}

.navbar-collapse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 5rem;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* === === MEDIA QUERIES HEADER === ===  */
@media only screen and (max-width: 1024px) {
  header .header .logo img {
    height: 110px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-collapse {
    margin: 0;
    background-color: #000000;
  }
  .navbar-light .navbar-nav .nav-link {
    margin: 0;
    padding: 2%;
  }
}

@media only screen and (max-width: 768px) {
  header .navbar-light .navbar-nav .nav-link {
    padding: 2%;
    font-size: 20px;
  }
  header .header {
    width: 100%;
  }
  header .header .logo img {
    margin-left: 0;
    height: 100px;
  }
}

@media only screen and (max-width: 425px) {
  .navbar-light .navbar-nav .nav-link {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* === === === === === === === === === === INICIO === === === === === === === === === === */
.botonWhapp {
  position: fixed;
  right: 2rem;
  bottom: 6rem;
  z-index: 200;
  background-color: #080808;
  border-radius: 50%;
  color: white;
  padding: 12px;
  -webkit-animation: flotar 1.5s linear;
          animation: flotar 1.5s linear;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  animation-timeline: 2s;
}

.botonWhapp:hover {
  background-color: white;
  color: #000;
  -webkit-transition: 650ms;
  transition: 650ms;
}

@-webkit-keyframes flotar {
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes flotar {
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.contenedorMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.contenedorMain .carousel .carousel-inner {
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.contenedorMain .carousel .carousel-inner .carousel-item {
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.contenedorMain .carousel .carousel-inner .carousel-item .imgCarrousel {
  height: auto;
  width: 100%;
  background-color: white;
  height: 500px;
}

/* === === MEDIA QUERIES INICIO === === */
@media only screen and (max-width: 1000px) {
  .contenedorMain .carousel .carousel-inner .carousel-item .imgCarrousel {
    width: 100%;
    height: 350px;
  }
}

@media only screen and (max-width: 800px) {
  .contenedorMain .carousel .carousel-inner .carousel-item .imgCarrousel {
    width: 100%;
    height: 280px;
  }
}

@media only screen and (max-width: 600px) {
  .contenedorMain .carousel .carousel-inner .carousel-item .imgCarrousel {
    width: 100%;
    height: 220px;
  }
}

@media only screen and (max-width: 475px) {
  .contenedorMain .carousel .carousel-inner .carousel-item .imgCarrousel {
    width: 100%;
    height: 200px;
  }
}

/* === === === === === === === === === === PRODUCTOS === === === === === === === === === === */
.containerProductos {
  background-color: #ffffff;
  background-image: url("../imagenes/endless-constellation (3).svg");
  padding-top: 50px;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: poppins;
  padding: 30px 15px;
  row-gap: 30px;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
}

.cardProducto {
  width: 25rem;
  -webkit-transition: 400ms;
  transition: 400ms;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.cardImagen {
  background-image: url("../imagenes/DSC01611.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border-radius: 10px;
}

.cardImagen:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen2 {
  background-image: url("../imagenes/DSC01611.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border-radius: 10px;
}

.cardImagen2:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen3 {
  background-image: url("../imagenes/DSC01611.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border-radius: 10px;
}

.cardImagen3:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen4 {
  background-image: url("../imagenes/DSC01657.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border-radius: 10px;
}

.cardImagen4:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen5 {
  background-image: url("../imagenes/DSC01629.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border-radius: 10px;
}

.cardImagen5:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen6 {
  background-image: url("../imagenes/DSC01629.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border-radius: 10px;
}

.cardImagen6:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen7 {
  background-image: url("../imagenes/DSC01638.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border-radius: 10px;
}

.cardImagen7:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen8 {
  background-image: url("../imagenes/DSC01660.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border-radius: 10px;
}

.cardImagen8:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen9 {
  background-image: url("../imagenes/DSC01657.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border-radius: 10px;
}

.cardImagen9:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen10 {
  background-image: url("../imagenes/DSC01660.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  border-radius: 10px;
}

.cardImagen10:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 10px;
}

.cardFooter h4 {
  padding-top: 20px;
  color: black;
}

/* From uiverse.io by @mrhyddenn */
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 8px 30px;
  color: #fff;
  background-color: #000000;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 0px 1px transparent;
          box-shadow: inset 0px 0px 0px 1px transparent;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: 100;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #740707;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

.modal-header {
  background-color: #000000;
}

.modal-header h5 {
  color: white;
}

.modal-header .btn-close {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.modal-header .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-body {
  background-color: black;
}

th {
  color: #ffffff;
  font-weight: bold;
}

td {
  color: #fff;
}

.modal-footer {
  background-color: black;
}

.modal-footer p {
  color: #ffffff;
  font-weight: 500;
}

.modal-footer p a {
  font-weight: 900;
  color: #ffffff;
}

.modal-footer p a:hover {
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.masProductos {
  display: none;
}

.mostrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: poppins;
  padding: 30px 15px;
  row-gap: 30px;
}

.verMas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding-bottom: 50px;
}

#VerMas {
  font-family: poppins;
  padding: 10px 20px;
  background-color: transparent;
  color: #000;
  border: 1px solid black;
  border-radius: 5px;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

#VerMas:hover {
  background-color: #0c0c0c;
  color: white;
}

@media only screen and (max-width: 1366px) {
  .cardContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: poppins;
    padding: 30px 15px;
    row-gap: 30px;
  }
  .cardContainer .cardProducto {
    width: 18rem;
    padding: 0px 20px;
  }
  .cardContainer .cardFooter {
    font-size: 12px;
  }
  .cardContainer h4 {
    font-size: 17px;
  }
  .mostrar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: poppins;
    padding: 30px 15px;
    row-gap: 30px;
  }
  .mostrar .cardProducto {
    width: 18rem;
    padding: 0px 20px;
  }
  .mostrar .cardProducto:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .mostrar .cardFooter {
    font-size: 12px;
  }
  .mostrar h4 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px) {
  .tituloProductos {
    font-size: 20px;
    -webkit-text-stroke: 0.2px;
  }
}

.tituloNosotros {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  padding: 30px 0 30px 0;
  -webkit-text-stroke: 0.5px;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.nosotros .containerNosotros {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  padding: 0px 50px;
}

.nosotros .containerNosotros .imagenNosotros {
  background-image: url(../imagenes/nosotros.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: auto;
}

.nosotros .containerNosotros .textoNosotros {
  color: white;
  padding: 0 40px;
  text-align: justify;
  line-height: 30px;
  font-size: 18px;
  width: 50%;
}

.nosotros .containerNosotros .textoNosotros::-moz-selection {
  background-color: #1b1b1b;
}

.nosotros .containerNosotros .textoNosotros::selection {
  background-color: #1b1b1b;
}

.nosotros .containerNosotros .textoNosotros h6 {
  font-size: 25px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.nosotros .containerNosotros .textoNosotros h6::-moz-selection {
  background-color: #1b1b1b;
}

.nosotros .containerNosotros .textoNosotros h6::selection {
  background-color: #1b1b1b;
}

/* === === MEDIA QUERIES NOSOTROS === === */
@media only screen and (max-width: 770px) {
  .nosotros .containerNosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .nosotros .containerNosotros .imagenNosotros {
    background-image: url(../imagenes/nosotros.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
  }
  .nosotros .containerNosotros .textoNosotros {
    width: 100%;
    font-size: 15px;
    padding: 0px;
  }
}

.tituloContacto {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  padding: 0px 0 30px 0;
  -webkit-text-stroke: 0.5px;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  padding: 40px 0;
}

.contacto .contenedorForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contenedorForm form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .contenedorForm form h2 {
  font-family: poppins;
  font-size: 22px;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto .contenedorForm form .formInput {
  font-family: poppins;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #ffffff;
  outline: none;
  width: 90%;
  padding: 25px 25px;
  color: #ffffff;
}

.contacto .contenedorForm form .formInput::-webkit-input-placeholder {
  color: #ffffff;
}

.contacto .contenedorForm form .formInput:-ms-input-placeholder {
  color: #ffffff;
}

.contacto .contenedorForm form .formInput::-ms-input-placeholder {
  color: #ffffff;
}

.contacto .contenedorForm form .formInput::placeholder {
  color: #ffffff;
}

.contacto .contenedorForm form .formInput::content {
  color: white;
}

.contacto .contenedorForm form .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.contacto .contenedorForm form .boton .inputBoton {
  padding: 10px 50px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
  font-family: poppins;
  background-color: transparent;
  letter-spacing: 3px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.contacto .contenedorForm form .boton .inputBoton:hover {
  background-color: #ffffff;
  color: #000;
  font-weight: bold;
}

.styleToastify {
  font-size: 14px;
  letter-spacing: 1.5px;
  border-radius: 15px;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  border-radius: 20px;
  width: 100% !important;
}

.redes p {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 4px;
  padding: 10px;
}

.icon {
  color: #ffffff;
  padding: 30px 30px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.icon:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  text-shadow: 2px 2px 5px #999595;
}

.animacionRedes {
  padding: 50px 0 0 0;
  height: 300px;
  width: auto;
}

/* === === MEDIA QUERIES CONTACTO === === */
@media only screen and (max-width: 1366px) {
  .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .redes p {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 10px;
  }
  .fa-5x {
    font-size: 4em !important;
  }
}

@media only screen and (max-width: 768px) {
  .contacto {
    padding: 20px;
  }
  .contenedorForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedorForm form {
    width: 100%;
    padding: 0;
    background-color: #000000;
  }
  .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .animacionRedes {
    padding: 50px 0 0 0;
    height: 400px;
    width: auto;
  }
}

@media only screen and (max-width: 500px) {
  .icon {
    font-size: 3em !important;
  }
}

.tituloFaq {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  padding: 20px 0 40px 0;
  -webkit-text-stroke: 0.5px;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
}

.faq {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion {
  border: 1px solid #ffffff;
  width: 90%;
}

.accordion-button {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 30px 10px;
}

.accordion-body {
  padding: 30px 10px;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: transparent;
}

.accordion-button:focus {
  border: 1px solid #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../imagenes/icons8-doble-abajo-50.png");
}

.accordion-collapse {
  color: #ffffff;
}

.accordion-body {
  color: #ffffff;
}

.accordion-button::after {
  background-image: url("../imagenes/icons8-doble-abajo-50.png");
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid white;
  font-size: 20px;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footerIzquierda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

footer .footerIzquierda .mediosdePago {
  color: #fff;
  padding-top: 10px;
}

footer .iconosPagos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

footer p {
  text-align: center;
  color: white;
}

footer .copyright {
  font-size: 15px;
}

footer .footerMedio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

footer .footerDerecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

footer .footerDerecha .encontranos {
  color: white;
}

footer .footerDerecha .direccion {
  text-decoration: none;
  color: #ffffff;
}

footer .footerDerecha .direccion:hover {
  -webkit-transition: 400ms;
  transition: 400ms;
}

footer .footerDerecha .iconosRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 20px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

footer .iconosFooter {
  width: 60px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.logoFooter {
  height: 150px;
  width: auto;
}

canvas {
  position: absolute;
  background-size: contain;
  z-index: -1;
  height: 200px !important;
  -o-object-fit: none;
     object-fit: none;
}

/* === === MEDIA QUERIES FOOTER === === */
@media only screen and (max-width: 768px) {
  footer .footerDerecha .encontranos {
    font-size: 18px;
  }
  footer .iconosFooter {
    width: 60px;
    height: 50px;
    border-radius: 5px;
  }
  footer .footerIzquierda .mediosdePago {
    font-size: 18px;
    color: #fff;
  }
  footer .footerIzquierda .iconosPagos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 425px) {
  footer .iconosFooter {
    width: 40px;
    height: 30px;
    border-radius: 5px;
  }
  .logoFooter {
    height: 100px;
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */