/* === === === === === === === === === === FONTS === === === === === === === === === === */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

/* === === === === === === === === === === GENERAL === === === === === === === === === === */
html {
  scroll-behavior: smooth;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto 10%;
      grid-template-columns: 10% auto 10%;
  -ms-grid-rows: min-content min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content min-content;
  background-color: black;
  background-position: unset;
  background-size: cover;
  padding: 30px;
  scroll-behavior: smooth;
  font-family: poppins;
}

/* === === === === === === === === === === HEADER === === === === === === === === === === */
header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.containerHeader {
  background-color: black;
  border-radius: 10px;
}

.header {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo img {
  height: 120px;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  margin: 0;
}

.header .menu li {
  position: relative;
  font-family: poppins;
  font-size: 18px;
  letter-spacing: 1px;
  list-style: none;
}

.header .menu li a {
  text-decoration: none;
  color: #F4D44B;
  font-weight: 600;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.header .menu li a:hover {
  color: #e4c435;
  text-decoration: overline;
}

main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.contenedorMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
}

.contenedorMainIzquierda {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorMainIzquierda .logoInicio {
  width: 400px;
  height: 400px;
}

.contenedorMainIzquierda p {
  font-family: poppins;
  font-size: 17px;
  padding: 15px;
  width: 300px;
  color: white;
}

.contenedorMainDerecha {
  background-image: url(../imagenes/afd55d0b-a7c4-47fd-96ed-a634adabf910.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 500px;
  -webkit-animation: flotar 5s linear infinite;
          animation: flotar 5s linear infinite;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes flotar {
  25% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  50%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
}

@keyframes flotar {
  25% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  50%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
}

h3 {
  color: #F4D44B;
  font-family: 'poppins';
  text-align: center;
  font-size: 50px;
  padding-top: 200px;
  padding-bottom: 30px;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: poppins;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  padding: 30px 0px;
  row-gap: 30px;
}

.cardProducto {
  border: 2px solid #F4D44B;
  width: 25rem;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.cardProducto:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.cardImagen {
  background-image: url("../imagenes/rig.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}

.cardFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #F4D44B;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 10px;
}

.cardFooter button {
  font-family: poppins;
  padding: 10px 20px;
  background-color: #F4D44B;
  color: #000;
  border: none;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: ease 350ms;
  transition: ease 350ms;
}

.cardFooter button:hover {
  background-color: #0c0c0c;
  color: #F4D44B;
}

.containerNosotros {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 50px;
  margin-bottom: 100px;
}

.imagenNosotros {
  background-image: url(../imagenes/entermining.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 45%;
  border: solid 2px #F4D44B;
  -webkit-box-shadow: 2px 2px 10px 2px #F4D44B;
          box-shadow: 2px 2px 10px 2px #F4D44B;
}

.textoNosotros {
  width: 50%;
  color: white;
  padding: 0 20px;
  text-align: justify;
  font-family: poppins;
  font-size: 25px;
  line-height: 40px;
}

h4 {
  font-size: 35px;
  text-align: center;
  color: #F4D44B;
  letter-spacing: 3px;
}

.contenedorForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 50px;
}

.contenedorForm form {
  width: 50%;
}

.contenedorForm form h2 {
  font-family: poppins;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.contenedorForm form .formInput {
  font-family: poppins;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-bottom: 2.5px solid #F4D44B;
  outline: none;
  width: 100%;
  padding: 50px;
  color: #F4D44B;
}

.contenedorForm form .formInput::-webkit-input-placeholder {
  color: #F4D44B;
  font-weight: bold;
}

.contenedorForm form .formInput:-ms-input-placeholder {
  color: #F4D44B;
  font-weight: bold;
}

.contenedorForm form .formInput::-ms-input-placeholder {
  color: #F4D44B;
  font-weight: bold;
}

.contenedorForm form .formInput::placeholder {
  color: #F4D44B;
  font-weight: bold;
}

.contenedorForm form .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.contenedorForm form .boton .inputBoton {
  padding: 10px 50px;
  border: 2px solid #F4D44B;
  border-radius: 5px;
  font-size: 18px;
  font-family: poppins;
  font-weight: bold;
  background-color: transparent;
  letter-spacing: 1px;
  color: #F4D44B;
  cursor: pointer;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.contenedorForm form .boton .inputBoton:hover {
  background-color: #F4D44B;
  color: #fff;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.redes p {
  font-size: 55px;
  font-weight: bold;
  color: #F4D44B;
  letter-spacing: 4px;
  padding: 10px;
}

.icon {
  color: #F4D44B;
  padding: 10px;
}

.accordion {
  border: 1px solid #F4D44B;
}

.accordion-button {
  color: #F4D44B;
  border: 1px solid #F4D44B;
}

.accordion-button:not(.collapsed) {
  color: #F4D44B;
  background-color: transparent;
}

.accordion-collapse {
  color: #F4D44B;
}

.accordion-body {
  color: #F4D44B;
}

footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

footer p {
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */