/* === === === === === === === === === === FONTS === === === === === === === === === === */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

/* === === === === === === === === === === GENERAL === === === === === === === === === === */
html {
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  scroll-behavior: smooth;
  font-family: poppins;
  background-color: black;
}

h3 {
  font-family: 'poppins';
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

/* === === === === === === === === === === HEADER === === === === === === === === === === */
header {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}

.containerHeader {
  background-color: #080808;
}

.header {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo img {
  height: 160px;
  margin-left: 2rem;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  margin: 0;
  height: 110px;
}

.header .menu a {
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: white;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.navbar {
  background-color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 17px;
  padding: 0 1.5rem;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: -webkit-box-shadow .15s ease-in-out;
  transition: -webkit-box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../imagenes/bars-solid.svg");
}

.navbar-collapse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 5rem;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 1024px) {
  .logo img {
    height: 140px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-collapse {
    margin: 0;
    background-color: #000000;
  }
  .navbar-light .navbar-nav .nav-link {
    margin: 0;
    padding: 0.3rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 20px;
  }
  .header {
    width: 100%;
  }
  .header .logo img {
    margin-left: 0;
  }
}

@media only screen and (max-width: 425px) {
  .navbar-light .navbar-nav .nav-link {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* === === === === === === === === === === INICIO === === === === === === === === === === */
.botonWhapp {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 200;
  background-color: #080808;
  border-radius: 50%;
  color: white;
  padding: 10px;
  -webkit-animation: flotar 1.5s linear;
          animation: flotar 1.5s linear;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  animation-timeline: 2s;
}

.botonWhapp:hover {
  background-color: white;
  color: #000;
  -webkit-transition: 650ms;
  transition: 650ms;
}

@-webkit-keyframes flotar {
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes flotar {
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.contenedorMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.contenedorMain .carousel .carousel-inner {
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.contenedorMain .carousel .carousel-inner .carousel-item {
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.contenedorMain .carousel .carousel-inner .carousel-item .imgCarrousel {
  height: auto;
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 425px) {
  .imagenInicio {
    width: 400px;
  }
}

/* === === === === === === === === === === PRODUCTOS === === === === === === === === === === */
.containerProductos {
  background-color: white;
}

.tituloProductos {
  background-color: white;
  color: black;
  margin-bottom: 0;
  padding: 50px 0 10px 0;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: poppins;
  padding: 30px 15px;
  row-gap: 30px;
  background-color: white;
}

.cardProducto {
  width: 25rem;
  -webkit-transition: 400ms;
  transition: 400ms;
  cursor: pointer;
}

.cardImagen {
  background-image: url("../imagenes/DSC01611.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.cardImagen:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen2 {
  background-image: url("../imagenes/DSC01611.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.cardImagen2:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen3 {
  background-image: url("../imagenes/DSC01611.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.cardImagen3:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen4 {
  background-image: url("../imagenes/DSC01657.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.cardImagen4:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen5 {
  background-image: url("../imagenes/DSC01629.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.cardImagen5:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen6 {
  background-image: url("../imagenes/DSC01629.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.cardImagen6:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen7 {
  background-image: url("../imagenes/DSC01638.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.cardImagen7:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen8 {
  background-image: url("../imagenes/DSC01660.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.cardImagen8:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen9 {
  background-image: url("../imagenes/DSC01657.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.cardImagen9:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardImagen10 {
  background-image: url("../imagenes/DSC01660.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.cardImagen10:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border: none;
}

.cardFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 10px;
  /* glow */
  /* hover */
}

.cardFooter h4 {
  padding-top: 20px;
  color: black;
}

.cardFooter .cardButton {
  padding: 10px 40px;
  border: none;
  outline: none;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  letter-spacing: 2px;
}

.cardFooter .cardButton::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.cardFooter .cardButton::before {
  content: "";
  background: linear-gradient(45deg, #818181, #818181, #818181, #818181, #000000, #000000, #000000, #000000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.cardFooter .cardButton:hover::before {
  opacity: 1;
}

.cardFooter .cardButton:active:after {
  background: transparent;
}

.cardFooter .cardButton:active {
  color: #000;
  font-weight: bold;
}

.cardFooter:hover {
  color: white;
  letter-spacing: 5px;
}

.modal-header {
  background-color: #000000;
}

.modal-header h5 {
  color: white;
}

.modal-body {
  background-color: black;
}

th {
  color: #ffffff;
  font-weight: bold;
}

td {
  color: #fff;
}

.modal-footer {
  background-color: black;
}

.modal-footer p {
  color: #ffffff;
  font-weight: 500;
}

.modal-footer p a {
  font-weight: 900;
  color: #ffffff;
}

.modal-footer p a:hover {
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.masProductos {
  display: none;
}

.mostrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: poppins;
  padding: 30px 15px;
  row-gap: 30px;
}

.verMas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding-bottom: 50px;
}

#VerMas {
  font-family: poppins;
  padding: 10px 20px;
  background-color: transparent;
  color: #000;
  border: 1px solid black;
  border-radius: 5px;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

#VerMas:hover {
  background-color: #0c0c0c;
  color: white;
}

@media only screen and (max-width: 1366px) {
  .cardContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: poppins;
    padding: 30px 15px;
    row-gap: 30px;
  }
  .cardContainer .cardProducto {
    width: 18rem;
    padding: 0px 20px;
  }
  .cardContainer .cardFooter {
    font-size: 12px;
  }
  .cardContainer h4 {
    font-size: 17px;
  }
  .mostrar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: poppins;
    padding: 30px 15px;
    row-gap: 30px;
  }
  .mostrar .cardProducto {
    width: 18rem;
    padding: 0px 20px;
  }
  .mostrar .cardProducto:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .mostrar .cardFooter {
    font-size: 12px;
  }
  .mostrar h4 {
    font-size: 17px;
  }
}

.tituloNosotros {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  padding-top: 45px;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  padding-top: 45px;
}

.containerNosotros {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.imagenNosotros {
  background-image: url(../imagenes/DSC01516.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 45%;
}

.textoNosotros {
  width: 50%;
  color: white;
  padding: 0 20px;
  text-align: justify;
  line-height: 40px;
  font-size: 18px;
}

.textoNosotros::-moz-selection {
  background-color: #1b1b1b;
}

.textoNosotros::selection {
  background-color: #1b1b1b;
}

h6 {
  font-size: 25px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

h6::-moz-selection {
  background-color: #1b1b1b;
}

h6::selection {
  background-color: #1b1b1b;
}

@media only screen and (max-width: 1440px) {
  .imagenNosotros {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 40%;
  }
  .textoNosotros {
    width: 50%;
    color: white;
    padding: 0 20px;
    text-align: justify;
    font-family: poppins;
    line-height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .containerNosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imagenNosotros {
    width: 100%;
  }
  .textoNosotros {
    width: 100%;
  }
}

.tituloContacto {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  padding: 0 0 10px 0;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  padding-bottom: 100px;
}

.contenedorForm {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedorForm form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorForm form h2 {
  font-family: poppins;
  font-size: 22px;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorForm form .formInput {
  font-family: poppins;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2.5px solid #ffffff;
  outline: none;
  width: 90%;
  padding: 30px 25px;
}

.contenedorForm form .formInput::-webkit-input-placeholder {
  color: #ffffff;
}

.contenedorForm form .formInput:-ms-input-placeholder {
  color: #ffffff;
}

.contenedorForm form .formInput::-ms-input-placeholder {
  color: #ffffff;
}

.contenedorForm form .formInput::placeholder {
  color: #ffffff;
}

.contenedorForm form .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.contenedorForm form .boton .inputBoton {
  padding: 10px 50px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
  font-family: poppins;
  background-color: transparent;
  letter-spacing: 3px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.contenedorForm form .boton .inputBoton:hover {
  background-color: #ffffff;
  color: #000;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-top: 50px;
}

.redes p {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 4px;
  padding: 10px;
}

.icon {
  color: #ffffff;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.icon:hover {
  color: #5e5f5f;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.animacionRedes {
  padding: 50px 0 0 0;
  height: 300px;
  width: auto;
}

@media only screen and (max-width: 1366px) {
  .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%;
  }
  .redes p {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 10px;
  }
  .fa-5x {
    font-size: 4em !important;
  }
}

@media only screen and (max-width: 768px) {
  .contenedorForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedorForm form {
    width: 100%;
  }
  .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .animacionRedes {
    padding: 50px 0 0 0;
    height: 400px;
    width: auto;
  }
}

.tituloFaq {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  padding: 50px 0 60px 0;
}

.faq {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion {
  border: 1px solid #ffffff;
  width: 90%;
}

.accordion-button {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 30px 10px;
}

.accordion-body {
  padding: 30px 10px;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: transparent;
}

.accordion-button:focus {
  border: 1px solid #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F4D44B'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-collapse {
  color: #ffffff;
}

.accordion-body {
  color: #ffffff;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F4D44B'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

footer {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid white;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footerIzquierda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

footer .footerIzquierda .mediosdePago {
  font-size: 24px;
  color: #fff;
}

footer .iconosPagos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer p {
  color: white;
  text-align: center;
}

footer .footerMedio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

footer .footerDerecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

footer .footerDerecha .encontranos {
  color: white;
  font-size: 24px;
}

footer .footerDerecha .direccion {
  text-decoration: none;
  color: #ffffff;
}

footer .footerDerecha .direccion:hover {
  -webkit-transition: 400ms;
  transition: 400ms;
}

footer .footerDerecha .iconosRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .iconosFooter {
  width: 60px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2px;
}

.logoFooter {
  height: 200px;
  width: auto;
}

canvas {
  position: absolute;
  background-size: contain;
  z-index: -1;
  height: 300px !important;
  -o-object-fit: none;
     object-fit: none;
}

@media only screen and (max-width: 768px) {
  footer .footerDerecha .encontranos {
    color: #F4D44B;
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  footer .iconosFooter {
    width: 40px;
    height: 25px;
    background-color: #F4D44B;
    border-radius: 5px;
    padding: 2px;
  }
  .logoFooter {
    height: 100px;
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */