/* === === === === === === === === === === FONTS === === === === === === === === === === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

/* === === === === === === === === === === GENERAL === === === === === === === === === === */

html {
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    scroll-behavior: smooth;
    font-family: poppins;
    background-color: rgb(0, 0, 0);
}

h3 {
    font-family: 'poppins';
    text-align: center;
    font-size: 30px;
}

/* === === === === === === === === === === HEADER === === === === === === === === === === */

header {
    z-index: 100;
    position: sticky;
    top: 0px;
    width: 100%;
}

.containerHeader {
    background-color: rgb(8, 8, 8);
}

.header {
    height: min-content;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo img {
        height: 160px;
        margin-left: 2rem;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 45px;
        margin: 0;
        height: 110px;

        a {
            text-decoration: none;
            transition: all ease 0.3s;
            color: white;
        }
    }
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1);
    border: none;
}

.navbar {
    background-color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 17px;
    padding: 0 1.5rem;
    transition: all ease-in-out 0.4s;

    &:hover {
        transform: scale(1.1);
        color: white;
    }
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #F4D44B;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../imagenes/bars-solid.svg");
}

.navbar-collapse {
    flex-direction: row-reverse;
    margin-right: 5rem;
}

.navbar-nav {
    display: flex;
    align-items: flex-end;

}

@media only screen and (max-width: 1024px) {
    .logo img {

        height: 140px;

    }
}

@media only screen and (max-width: 992px) {

    .navbar-nav {
        align-items: center;
    }

    .navbar-collapse {
        margin: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 0.3rem 0
    }
}

@media only screen and (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
    }

    .header {
        width: 100%;

        .logo img {
            margin-left: 0;
        }
    }
}

@media only screen and (max-width: 425px) {
    .navbar-light .navbar-nav .nav-link {

        justify-content: space-evenly;
    }
}

/* === === === === === === === === === === INICIO === === === === === === === === === === */

.botonWhapp {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 200;
    background-color: rgb(8, 8, 8);
    border-radius: 50%;
    color: white;
    padding: 10px;
    animation: flotar 1.5s linear  ;
    animation-iteration-count: 2;
    animation-delay: 5s;
    animation-timeline:2s;
        &:hover{
            background-color: rgb(255, 255, 255);
            color: #000;
            transition: 650ms;
        }
}

@keyframes flotar {
    25%{
        transform: translateY(-20px);
    }

    50%{
        transform: translateY(0px);

    }

    75%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0px);
    }
}

.contenedorMain {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.imagenInicio {
    background-image: url(../imagenes/farm-2852024_960_720.webp);
    background-size: cover;
    background-position: center;
    height: 520px;
    width: 100%;
    background-color: white;
}

@media only screen and (max-width: 425px) {

    .imagenInicio {
        width: 400px;
    }
}

/* === === === === === === === === === === PRODUCTOS === === === === === === === === === === */

.containerProductos{
    background-color: white;
}
.tituloProductos{
    background-color: white;
    color: black;
    margin-bottom: 0;
    letter-spacing: 3px;
    padding: 50px 0 10px 0;
    
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: poppins;
    padding: 30px 15px;
    row-gap: 30px;
    background-color: white;
    
}

.cardProducto {
    width: 25rem;
    transition: 400ms; 
    cursor: pointer;
}

.cardImagen {
    background-image: url("../imagenes/DSC01639.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    transition:all ease 0.8s;


    &:hover {
        transform: scale(1.15);
        border: none;
    }
}

.cardFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    align-items: center;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 10px;

    h4{
        padding-top: 20px;
        color: black;
    }
}

.cardFooter button {
    font-family: poppins;
    padding: 10px 40px;
    color: #000;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in 0.3s;

    &:hover {
        background-color: rgb(12, 12, 12);
        color: white;
        letter-spacing: 5px;   
    }
}

.modal-header {
    background-color: #000000;

    h5 {
        color:white
        
    }
}

.modal-body {
    background-color: rgb(0, 0, 0);
}

th {
    color: #ffffff;
    font-weight: bold;
}

td {
    color: #fff;
}

.modal-footer {
    background-color: rgb(0, 0, 0);

    p {
        color: #ffffff;
        font-weight: 500;

        a {
            font-weight: 900;
            color: #ffffff;

            &:hover {
                color: #fff;
                transition: 300ms;
            }
        }
    }
}

.masProductos {
    display: none;
}

.mostrar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: poppins;
    padding: 30px 15px;
    row-gap: 30px;
}

.verMas {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 50px;
}

#VerMas {
    font-family: poppins;
    padding: 10px 20px;
    background-color: transparent;
    color: #000;
    border: 1px solid black;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in 0.3s;

    &:hover {
        background-color: rgb(12, 12, 12);
        color: white;
    }
}

@media only screen and (max-width: 1366px) {

    .cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-family: poppins;
        padding: 30px 15px;
        row-gap: 30px;

        .cardProducto {
            width: 18rem;
            padding: 0px 20px;
        }

        .cardFooter {
            font-size: 12px; 
        }

        h4 {
            font-size: 17px;
        }
    }

    .mostrar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-family: poppins;
        padding: 30px 15px;
        row-gap: 30px;

        .cardProducto {
            width: 18rem;
            padding: 0px 20px;

            &:hover {
                transform: scale(1.1);
            }
        }

        .cardFooter {
            font-size: 12px;
        }

        h4 {
            font-size: 17px;
        }
    }
}

// <!-- === === === === === NOSOTROS === === === === === --> //

.tituloNosotros{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    padding-top: 45px;
    letter-spacing: 3px;
}

.nosotros {
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 45px;
}

.containerNosotros {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.imagenNosotros {
    background-image: url(../imagenes/DSC01516.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 45%;
}

.textoNosotros {
    width: 50%;
    color: white;
    padding: 0 20px;
    text-align: justify;
    line-height: 40px;
    font-size: 18px;

    &::selection {
        background-color: #1b1b1b;
    }

}

h6 {
    font-size: 30px;
    text-align: center;
    color: white;
    letter-spacing: 3px;

    &::selection {
        background-color: #1b1b1b;
    }
}

@media only screen and (max-width: 1440px) {

    .imagenNosotros {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        width: 40%;
        
    }

    .textoNosotros {
        width: 50%;
        color: white;
        padding: 0 20px;
        text-align: justify;
        font-family: poppins;
        line-height: 30px;

    }
}

@media only screen and (max-width: 768px) {

    .containerNosotros {
        display: flex;
        flex-direction: column;
    }

    .imagenNosotros {
        width: 100%;
    }

    .textoNosotros {
        width: 100%;
    }
}


// <!-- === === === === === CONTACTO === === === === === --> //


.tituloContacto{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    padding: 0 0 10px 0;
    letter-spacing: 3px;
}

.contacto {
    display: flex;
    justify-content: center;  
}

.contenedorForm {
    width: 90%;
    display: flex;
    align-items: center;


    form {
        width: 50%;
        justify-items: center;

        h2 {
            font-family: poppins;
            font-size: 22px;
            letter-spacing: 3px;
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .formInput {
            font-family: poppins;
            font-size: 20px;
            background-color: transparent;
            border: none;
            border-bottom: 2.5px solid #ffffff;
            outline: none;
            width: 90%;
            padding: 30px 25px;
        }

        .formInput::placeholder {
            color: #ffffff;
        }

        .boton {
            display: flex;
            justify-content: center;
            padding: 20px;


            .inputBoton {
                padding: 10px 50px;
                border: 2px solid #ffffff;
                border-radius: 5px;
                font-size: 16px;
                font-family: poppins;
                background-color: transparent;
                letter-spacing: 3px;
                color: #ffffff;
                cursor: pointer;
                transition: all ease 0.8s;

                &:hover {
                    background-color: #ffffff;
                    color: #000;
                }
            }
        }
    }
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    
    p {
        font-size: 50px;
        font-weight: bold;
        color: #ffffff;
        letter-spacing: 4px;
        padding: 10px;
    }
}

.icon {
    color: #ffffff;
    padding: 10px;

        &:hover{
            color: rgba(255, 255, 255, 0.596);
            transform:translateY(-10px);
            
        }
}

.animacionRedes {
    padding: 50px 0 0 0;
    height: 300px;
    width: auto;
}


@media only screen and (max-width: 1366px) {

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
    }

    .redes p {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 4px;
        padding: 10px;
    }

    .fa-5x {
        font-size: 4em !important;
    }

}

@media only screen and (max-width: 768px) {
    .contenedorForm {
        display: flex;
        flex-direction: column;
    }

    .contenedorForm form {
        width: 100%;
    }

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .animacionRedes {
        padding: 50px 0 0 0;
        height: 400px;
        width: auto;
    }
}


// <!-- === === === === === FAQ === === === === === --> //

.tituloFaq{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    padding: 50px 0 60px 0;
    letter-spacing: 3px;
}
.faq {
    display: flex;
    justify-content: center;
}

.accordion {
    border: 1px solid #ffffff;
    width: 90%;
}

.accordion-button {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 30px 10px;
}

.accordion-body {
    padding: 30px 10px;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: transparent;

}

.accordion-button:focus {
    border: 1px solid #ffffff;
    box-shadow: none;
}

.accordion-button {
    &:not(.collapsed) {
        &::after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F4D44B'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
        }
    }
}


.accordion-collapse {
    color: #ffffff;
}

.accordion-body {
    color: #ffffff;

}

.accordion-button {
    &::after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F4D44B'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    }
}

// <!-- === === === === === FOOTER === === === === === --> //

footer {
    margin-top: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-top: 2px solid rgb(255, 255, 255);

    .footer {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .footerIzquierda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;

        .mediosdePago {
            font-size: 24px;
            color: #fff;
        }
    }

    .iconosPagos {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        width: 100%;
        justify-content: space-between;
        
    }

    p {
        color: white;
        text-align: center;


    }

    .footerMedio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;

    }

    .footerDerecha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;


        .encontranos {
            color: white;
            font-size: 24px;
        }

        .direccion {
            text-decoration: none;
            color: #ffffff;

            &:hover {
                // color: #F4D44B;
                transition: 400ms;
            }
        }


        .iconosRedes {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
    }



    .iconosFooter {
        width: 60px;
        height: 40px;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 2px;

    }
}

.logoFooter {

    height: 200px;
    width: auto;

}

canvas {
    position: absolute;
    background-size: contain;
    z-index: -1;
    height: 300px !important;
    object-fit: none;
}

// @media only screen and (max-width: 825px){

//     .iconosPagos {
//         background-color: aqua;
//     }



// }


@media only screen and (max-width: 768px) {
    footer .footerDerecha .encontranos {
        color: #F4D44B;
        font-size: 20px;
    }

}

@media only screen and (max-width: 425px) {

    footer .iconosFooter {
        width: 40px;
        height: 25px;
        background-color: #F4D44B;
        border-radius: 5px;
        padding: 2px;
        

    }

    .logoFooter {

        height: 100px;
        width: auto;
    
    }
   

}